/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: scroll;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.homeContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-section {
    margin: 20px;
}

.homecard {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #555;
}

footer {
    background-color: #343a40!important;
    color: #fff;
    text-align: center;
    padding: 20px; 
    width: 100%;
}
.control-panel{
    background: lightgray; 
    padding: 4px;
    font-family: sans-serif;
}


#disclaimer-overlay {
    display: flex;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
  
  #disclaimer-box {
    position: absolute;
    top: 5vh;
    
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    border-radius: 5px;
  }
  
  #disclaimer-box h2 {
    margin-top: 0;
  }
   

  #emoji-panel {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}

#emoji-panel.show {
    display: block;
    position: static;
}

#emoji-panel button {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin: 2px;
    border: none;
    background: none;
}
